@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  font-family: "Poppins, sans-serif";
  @apply font-poppins;
  @apply text-gray-900;
  @apply dark:bg-gradient-to-r dark:from-black dark:via-slate-900 dark:to-black bg-white;
}

.homepage-dark-bg {
  @apply bg-gradient-to-r from-black via-slate-900 to-black;
}

.button-blue-bg {
  @apply bg-gradient-to-r from-blue-500 via-blue-500 to-blue-900;
}

.navbar-light-bg {
  @apply bg-transparent;
}

.homepage-light-bg {
  @apply bg-white;
}

.closeModalBackground {
  background-color: rgb(0, 0, 0, 0.5);
}

.map-container {
  width: 100%;
  margin: 0 auto;
  height: 55vh;
  border-radius: 20px;
  z-index: 20;
}

.numberOfDays::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-shadow {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.text-shadow-lg {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.55);
}

.linear-background {
  background: linear-gradient(90deg, #0d82d3 0%, #0270cd 100%);
}

.text-shadow-like {
  text-shadow: 1px 1px 2px black;
}

.text-blue-gradient {
  background: linear-gradient(90deg, #1141bd 0%, #4aa6f7 65.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
